.section__4{
    display: flex;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}
.image{
    height: 400px;
    width: 600px;
}
.div__p{
    margin-top: 90px;
    margin-left: 50PX;
}
.BUTTONNN{
    background-color: purple;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 7px;
}