.icon__1{
    display: flex;
}
.icon__2{
    display: flex;
}
.icon__3{
    display: flex;
}
.umumi__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 90px;
    margin-top: 60px;
    flex-wrap: wrap ;
}
.iconnnn{
    font-size: 20px;
}


