.CardsWishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}
.Buuton{
    display: flex;
    justify-content: center;
    margin-left: 900px;
    border-radius: 7px;
    background-color: blue;
    color: wheat;
}